$primary-color: #64FF00;

:export {
  primaryColor: $primary-color;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
